<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lugares Turisticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--<div *ngFor="let lugar of places">
{{lugar.title}}
</div>-->
<ion-list>
  <ion-item *ngFor="let lugar of places" [routerLink]="['/lugares', lugar.id]">
    <ion-avatar class="ava-lugar">
      <ion-img [src]="lugar.imagenURL"></ion-img>
    </ion-avatar>
    <ion-label>
      {{lugar.title}}
    </ion-label>
  </ion-item>

</ion-list>

<!-- Botones flotantes -->
<ion-fab vertical="ion-fab-button" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="agregarCliente()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
